@import url('../lead/__text/lead__text.css');
@import url('../lead/__title/lead__title.css');
@import url('../lead/__paragraph/lead__paragraph.css');
@import url('../lead/__image/lead__image.css');
@import url('../lead/_alignment/lead_alignment_indent.css');
.lead {
    width: calc(100% - 2 * 55px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media screen and (max-width: 1279px) {
    .lead {
        width: calc(100% - 2 * 45px);
    }
}
@media screen and (max-width: 1023px) {
    .lead {
        width: calc(100% - 2 * 35px);
    }
}
@media screen and (max-width: 639px) {
    .lead {
        width: calc(100% - 2 * 25px);
    }
}
