.order__submit-btn {
    background: #000000;
    border-radius: 2px;
    height: 32px;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 1.1;
    text-align: center;
    width: 60%;
    margin-left: calc(40% + 60px);
  }
  
  .order__submit-btn:hover {
    background: rgba(0, 0, 0, 0.8);
    cursor: pointer;
  }