.place__text-container {
    width: 50%;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  @media screen and (min-width: 320px) and (max-width: 639px) {
    .place__text-container {
      width: 100%;
    }
  }