.menu__link {
  text-decoration: none;
  color: #000;
  font-size: 0.8rem;
  font-weight: normal;
  line-height: 1.1;
}

.menu__link:hover {
  text-decoration: underline;
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (max-width: 639px) {
  .menu__link {
    font-size: 10px;
  }
}
