@import url('../people/__parargaph/people__paragraph.css');
@import url('../people/__title/people__title.css');
@import url('../people/__items/people__items.css');
@import url('../people/__autor/people__autor.css');
@import url('../people/__text/people__text.css');
@import url('../people/_alignment/people_alignment_indent.css');
.people {
  width: calc(100% - 2 * 55px);
}
@media screen and (max-width: 1279px) {
  .people {
     width: calc(100% - 2 * 45px);
  }
}
@media screen and (max-width: 1023px) {
  .people {
    width: calc(100% - 2 * 35px);
  }
}
@media screen and (max-width: 639px) {
  .people {
    width: calc(100% - 2 * 25px);
  }
}
